:root {
    --background: #212125;
    --primary-color: #1A1A1E;
    --secondary-color: #323239;
    --selected-color: #8C3061;
    --text-color:whitesmoke;
    --text-color-secondary:rgba(245, 245, 245, 0.726);
    --purple: #522258;
    --maroon: #8C3061;
    --red: #C63C51;
    --orange: #D95F59;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    /* font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    margin: 0;
    width: inherit;
    height: inherit;
}
p {
    margin: 0;
}

.error {
    padding-bottom: 5px;
    color:var(--orange);
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}
a {
    color: var(--text-color-secondary);
    text-decoration: none;
    font-size: small;
}
a:hover {
    color: var(--selected-color)
}

.hidden {
    display: none!important;
}
.close {
  
    cursor:pointer;
  
    &:after, &:before {
      
      content:"";
      height:15px;
      width:15px;
      border-top:1px solid var(--text-color);
      position:absolute;
      top:17px;
      right:9px;
      transform: rotate(-45deg);
    
    }
        
    &:before {
          
      right:20px;
      transform: rotate(45deg);
    
    }
    
}
.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: monospace;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: x-large;
    text-transform: uppercase;
}

button:hover{
    cursor: pointer;
    background-color: var(--selected-color);
    color: var(--purple);
}

input {
    width: calc(100% - 60px);
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    padding: 15px;
    outline: none;
}

.row {
    margin: 10px;
    width: 100%;
}

.center-aligned {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.round-image {
    position: relative; 
    width: 50px; 
    height: 50px; 
    overflow: hidden; 
    border-radius: 50%; 
}

.round-image.small {
    width: 30px; 
    height: 30px; 
}

.round-image.large {
    width: 100px; 
    height: 100px; 
}

.gradient {
    background: linear-gradient(180deg, var(--maroon), var(--primary-color));
}

/* Login */
.modal {
    width: 20%;
    height: 35%;
    /* background-color: var(--primary-color); */
    background-color: #1a1a1ec2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@media only screen and (max-width: 900px) {
    .modal {
        width: 80%!important;
        height: 50%;
    }
    .login-image {
        top: calc(25% - 50px);
    }

    .dialog {
        top: calc(25% + 52px);
    }
  }
.login-image {
    position: absolute;
    top: calc(32% - 50px);
    background-color: white;
}
.login-image:hover{
    cursor: pointer;
}

.login-image:hover .caption{
    background-color: #1a1a1e80;
    opacity: 1;
}
.caption {
    position: absolute;
    display: block;
    padding-top: 35px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    font-size: large;
}
.modal input {
    width: 100%;
}
.modal button {
    background-color: var(--selected-color);
    width: 100%;
    height: 40px;
}
.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(32% + 52px);
    width: 18%;
    height: 20%;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--purple);
}
.dialog::after{
    content: '';
    position: absolute;
    top: -4px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: var(--purple);
    border-bottom: 0;
    border-right: 0;
    transform: rotate(315deg);
}
.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: calc(100% - 20px);
}
.grid .round-image {
    margin: 10px;
}
.grid .round-image:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px var(--maroon));
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Vertical bar */
.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50px;
    align-items: center;
    height: inherit;
    padding: 10px;
    background-color: var(--primary-color);
}

.navbar button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: var(--purple);
    border-radius: 10px;
}
.navbar i {
    font-size: large;
} 
.navbar button.selected, .navbar button:hover {   
    color: var(--selected-color);
}

.content {
    background-color: var(--primary-color);
    width: calc(100%);
    padding: 10px;
}
/* Side bar list */
.chats-list {
    width: 20%;
    height: 100%;
    background-color: var(--background);
}
.chats-list .message-info{
    padding: 0 20px;
    min-width: 100px;
}
.chats-list .message-info:hover{
    background-color: var(--selected-color);
    cursor: pointer;
}
.chats-list .username{
    padding: 10px;
}

/* Chat container */
.top-bar {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    padding: 0 10px 5px 10px;
    border-bottom: 2px double var(--secondary-color);
}

.title {
    padding-left: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.content-chat {
    position: relative;
    width: 100%;
    height: calc(100% - 67px - 70px);
    padding: 20px;
}

.message {
    width: calc(100% - 10px);
    height: fit-content;
    min-height: 35px;
    position: relative;
    display: flex;
    margin: 10px;
}
.message-user{
    left: -22px;
    top: 13px;
}
.me .message-user{
   
    right: -22px;
    left: auto;
    top: 13px;
}

.round-image img {
    width: 100%;
    height: auto;
    margin-left: 0px;
}
.bubble {
    background-color: var(--secondary-color);
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
}
.bubble.left {
    background: linear-gradient(90deg, rgb(255, 27, 65), #9b4dca);
}
.bubble.left::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgb(255, 69, 100);
    border-bottom: 0;
    border-right: 0;
    margin-left: -9.5px;
    margin-bottom: 8px;
}

.bubble.right::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: var(--secondary-color);
    border-bottom: 0;
    border-left: 0;
    margin-left: -9.5px;
    margin-bottom: 8px;
}

.message-info {
    display: flex;
    align-items: center;
    font-size: small;
    color: var(--text-color-secondary);
    min-width: 100px;
}

.message-info .username {
    font-weight: bold;
    margin-right: 10px;
}

.message-info.time {
    justify-content: end;
    font-weight: lighter;
    font-size: x-small;
}

.left {
    margin-left:0;
    margin-right: auto;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.typing-state {
    font-size: small;
    padding: 2px 10px;
    color: var(--text-color-secondary)
}

.content-input {
    width: 100%;
    height: 70px;
    display: flex;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 60px);
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-right: 10px;

}
.input-container button {
    color:#676869;
}

.icon-button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: var(--text-color-secondary);
    font-size: large;
    outline: none;
    border: none;
} 

.input-btn {
    border-radius: 50%;
    background-color: #9b4dca!important;
}
.input-btn:hover {
    box-shadow: 0px 0px 17px 0px #9b4dca;

}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 0;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: none;
}